.container-cart {
  width: 850px;
  margin: 0 auto;

  &_header {
    display: flex;
    justify-content: space-between;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      color: #000000;
    }

    p {
      padding-top: 5px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #c4c4c4;
      cursor: pointer;

      &:hover {
        color: #83868c;
      }

      svg {
        margin-right: 5px;
      }
    }
  }

  &_content {
    min-height: 80px;

    img {
      height: 80px;
      width: 80px;
    }
  }

  &_pizza {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      width: 225px;
    }

    .number {
      display: inline-flex;
      align-items: center;
      min-width: 146px;

      svg:hover {
        circle {
          fill: #fe5f1e;
        }

        path {
          stroke: white;
        }
      }
    }

    button {
      background: #fff;
      border: 0;

      svg:hover {
        circle {
          fill: #1f1f1f;
          stroke: #1f1f1f;
        }

        path {
          stroke: white;
        }
      }
    }

    svg {
      margin: 15px;
      cursor: pointer;
    }

    p {
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      color: #000000;

      svg {
        align-items: center;
        justify-content: center;
      }
    }

    .price {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
      min-width: 77px;
    }
  }

  &_sum {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .all-pizza {
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 26px;
      color: #000000;

      span {
        font-weight: bold;
      }
    }
    .all-sum {
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      color: #000000;

      span {
        color: #fe5f1e;
      }
    }
  }

  &_button {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;

    .back {
      width: 200px;
      height: 60px;
      background: #fafafa;
      border: 1px solid #bababa;
      box-sizing: border-box;
      border-radius: 50px;
      cursor: pointer;

      &:hover {
        border: 1px solid #1f1f1f;
        background: #1f1f1f;

        a {
          color: white;
        }
      }

      svg {
        margin-right: 5px;
      }

      a {
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #c2c2c2;
      }
    }

    .next {
      background: #fe5f1e;
      border-radius: 50px;
      width: 200px;
      height: 60px;
      cursor: pointer;
      border: 0;

      &:hover {
        border: 2px solid #fe5f1e;
        background: white;

        a {
          color: #fe5f1e;
        }
      }

      a {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #f1f1f1;
        text-decoration: none;
      }
    }
  }
}
